.rtsdContainer{
    margin:20px;
    min-width: 400px;
    max-width: 700px;
}
.rtsdBoxHeader{
    background:rgb(244, 246, 248);
    height:50px;
    color:black;
    padding:5px;
    display: flex;
}
.rtsdHeader{
    padding-top: 12px;
}
.rtsdSearch{
    margin-left: 53%;
}
.RtsdTable{
    font-size: small;
    border:none;
}