.containerBox{
    margin-top: 8%;
    margin-right: 20px;
    margin-left:20px;
    border:1px solid rgb(222,226,230);
    box-shadow:2px 2px 0 0 rgb(222,226,230);
}
.orderBtn{
    float:right;
    text-decoration:none;
    padding-right:17px;
    padding-top:10px;
    padding-bottom:7px;
    border-bottom:1px solid rgb(222,226,230);
    color:green;
    background:rgb(244, 246, 248);
}
.orderBtn:hover{
    color:grey;
    text-decoration:none;
}
.tabStyle{
    background:rgb(244, 246, 248);
}
 .nav-link.active{
    background-color: #fff;
    color: green;
    border-color: none;
}
.nav-link {
    color:gray;
}

.nav-tabs{
    color: green;
}
 .nav-link:hover{
        color: green;
}
